<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--职位简介-->
<div >
    <div >
        <div >
            <h1 title="数据处理工程师/java/python数据工程师">
                数据处理工程师/java/python数据工程师
                <input value="129887144" name="hidJobID"  type="hidden">
            </h1>
            <strong>1-1.5万/月</strong>
            <p>
                <a href="https://jobs.51job.com/all/co5346459.html" target="_blank" title="上海辞书出版社有限公司">
                    上海辞书出版社有限公司
                    <em class="icon_b i_link"></em>
                </a>
                <a track-type="jobsButtonClick" event-type="2" class="i_house"
                   href="https://jobs.51job.com/all/co5346459.html?#syzw" target="_blank">
                    查看所有职位
                </a>
            </p>
            <p class="msg ltype"
               title="上海-静安区&nbsp;&nbsp;|&nbsp;&nbsp;2年经验&nbsp;&nbsp;|&nbsp;&nbsp;本科&nbsp;&nbsp;|&nbsp;&nbsp;招3人&nbsp;&nbsp;|&nbsp;&nbsp;05-12发布">
                上海-静安区&nbsp;&nbsp;<span>|</span>&nbsp;&nbsp;2年经验&nbsp;&nbsp;<span>|</span>&nbsp;&nbsp;本科&nbsp;&nbsp;<span>|</span>&nbsp;&nbsp;招3人&nbsp;&nbsp;<span>|</span>&nbsp;&nbsp;05-12发布
            </p>
            <div >
                <div >
                    <span >五险一金</span><span class="sp4">通讯补贴</span><span class="sp4">餐饮补贴</span><span
                        class="sp4">健康体检</span><span class="sp4">节假日福利</span>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div >
            <!--申请职位-->
            <a track-type="jobsButtonClick" event-type="1" class="but_sq" id="app_ck" href="javascript:void(0);"
               onclick="delivery('hidJobID', '1', '//i.51job.com', 'c', '', 'sou_sou_soulb', 'detail', '//img05.51jobcdn.com');return false;">
                <img width="19" height="24" src="//img05.51jobcdn.com/im/jobs/but_sq_arr.png" alt=""/>申请职位</a>
            <!--收藏-->
            <a track-type="jobsButtonClick" event-type="3" class="icon_b i_collect" href="javascript:void(0);"
               onclick="saveCollection('129887144');return false;">收藏</a>
            <div class="clear"></div>
        </div>
    </div>
</div>

<!--职位信息、任职资格和联系方式-->
<div >
    <div >
        <h2 >
            <span class="bname">职位信息</span>
        </h2>
        <div class="bmsg job_msg inbox">
            <p><b>岗位职责：</b></p>
            <p>1.&nbsp;&nbsp;&nbsp;负责各类出版物数据（XML、排版文件）、网络资源数据的采集、清洗、整合；</p>
            <p>2.&nbsp;&nbsp;&nbsp;负责出版数据类产品的系统分析与架构设计，配合产品经理完成产品的快速研发与交付；</p>
            <p>3.&nbsp;&nbsp;&nbsp;负责出版数据类产品的系统各组件的性能优化工作和部分设计、开发文档的编写工作；</p>
            <p>4.&nbsp;&nbsp;&nbsp;负责出版数据类项目的开发、维护等工作；</p>
            <p>5.&nbsp;&nbsp;&nbsp;参与业务数据、生产日志的抽取、转储、检索等相关工作；</p>
            <p>6.&nbsp;&nbsp;&nbsp;参与大数据分布式应用系统服务器端或客户端软件开发工作（需求开发、故障解决和性能优化等）；</p>
            <p>7.&nbsp;&nbsp;&nbsp;跟进大数据前沿技术的发展，将合适的技术方案适时引入业务场景。</p>
            <p>8.&nbsp;&nbsp;&nbsp;使用人工智能、自然语义分析、深度学习等技术完成项目开发。</p>
            <p><span><br></span></p>
            <p><b>任职资格：</b></p>
            <p>1.&nbsp;&nbsp;&nbsp;三十岁以下，大学本科以上学历，信息管理或计算机相关专业；</p>
            <p>2.&nbsp;&nbsp;&nbsp;两年以上相关工作经验，有较好的学习能力。</p>
            <p>3.&nbsp;&nbsp;精通Java或python语言，熟悉TensorFlow，Caffe（2），PyTorch和Deeplearning4j至少一种主流框架；</p>
            <p>4.&nbsp;&nbsp;&nbsp;有较强的软件开发功底，能按时并高效完成既定计划；</p>
            <p>5.&nbsp;&nbsp;&nbsp;具有良好的职业素质，忠诚可靠、诚信守法；</p>
            <p>6.&nbsp;&nbsp;&nbsp;具有良好的沟通能力，能友好的与他人团队合作共事；</p>
            <p>7.&nbsp;&nbsp;&nbsp;具有良好的攻关能力和创新能力，思维敏捷，精力充沛。</p>
            <p>8.&nbsp;&nbsp;&nbsp;具有人工智能、NLP，深度学习一个或多个领域开发并解决实际问题的经验。</p>
            <p><br></p>

            <div class="share"><a track-type="jobsButtonClick" event-type="6" class="a" href="javascript:void(0);"
                                  onclick='weixinMa();'>微信分享</a>
                <div id="weixinMa_fx" style="display:none;"><img width="198" height="198" alt="二维码"
                                                                 org="https://jobs.51job.com/wx_qrcode.php?url=https%3A%2F%2Fm.51job.com%2Fsearch%2Fjobdetail.php%3Fjobid%3D129887144"
                                                                 width="120"/>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>

    <div class="tBorderTop_box">
        <h2><span class="bname">联系方式</span></h2>
        <div class="bmsg inbox">
            <p class="fp"><span class="label">上班地址：</span>陕西北路457号</p>
            <a track-type="jobsButtonClick" event-type="7" class="icon_b i_map" href="javascript:void(0);"
               onclick="showMapIframe('https://search.51job.com/jobsearch/bmap/map.php?jobid=129887144', '陕西北路457号');return false;">地图</a>
            <div class="clear"></div>
        </div>
    </div>

    <div class="tBorderTop_box">
        <h2><span class="bname">公司信息</span></h2>
        <div class="tmsg inbox">
            上海辞书出版社前身是成立于1958年8月的中华书局辞海编辑所，1978年1月改称现名。主要出版各类综合性辞典、语文辞典、专科辞典、方志、年鉴，以及各类学术与大众读物。《辞海》《大辞海》《汉语大词典》《唐诗鉴赏辞典》等是上海辞书出版社的标志性出版物。<br><br>2017年1月，以“学术立社”闻名的中西书局也迁入陕西北路辞书大院，从此两家出版机构携手并进。中西书局致力于出土文献整理与研究、人文社科学术原创研究著作、教育与文化类图书的出版，代表性出版物有《清华大学藏战国竹简》、《肩水金关汉简》、“中西学术文丛”等。<br>&nbsp;<br>我们致力于知识的收集和共享。在此过程中，我们投入无比的热情与耐心；我们认真、细致，不断成长，于点滴灵光中收获思想的果实。
        </div>
    </div>

</div>

<!--公司信息-->
<div class="tCompany_sidebar">
    <div class="tBorderTop_box">
        <h2><span class="bname">公司信息</span></h2>
        <div class="com_msg"><a class="com_name " href="https://jobs.51job.com/all/co5346459.html" target="_blank"><p
                title="上海辞书出版社有限公司">上海辞书出版社有限公司</p></a>
        </div>
        <div class="com_tag">
            <p class="at" title="国企"><span class="i_flag"></span>国企</p>
            <p class="at" title="150-500人"><span class="i_people"></span>150-500人</p>
            <p class="at" title="文字媒体/出版">
                <span class="i_trade"></span>
                <a href="https://jobs.51job.com/shanghai/hy13/">文字媒体/出版</a>
            </p>
        </div>
        <a track-type="jobsButtonClick" event-type="2" class="icon_b i_house"
           href="https://jobs.51job.com/all/co5346459.html?#syzw" target="_blank"><span
                class="icon_det"></span>查看所有职位</a>
    </div>
    <input type="hidden" id="sign" value="">
    <input type="hidden" id="data" value=''>
    <input type="hidden" id="jobid" value='129887144'>
    <div class="tBorderTop_box" id="similarjob">
        <h2>
            <span class="bname">相似职位</span>
            <a class="op i_reflash" href="https://jobs.51job.com/shanghai-jaq/tuijian/tj129887144/">+ 更多</a>
        </h2>
    </div>
</div>


</body>
</html>