{%extends "base.html" %}

{% block mainbody %}

<div class="row text-center vertical-middle-sm">
    <h1>经验统计图</h1>
    <img src="{{ img }}">

</div>


{% endblock %}


{% block lie3 %}
    <div class="panel panel-info">
        <div class="panel-heading">推荐
            <div class="panel-body">......
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">我的收藏
            <div class="panel-body">......
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">我的消息
            <div class="panel-body">......
            </div>
        </div>
    </div>
{% endblock %}

